.featured_products {
  margin: 65px;
}

.featured_products > h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 65px;
}

.featured_products_list {
  justify-content: space-evenly;
  margin-bottom: 65px;
}
