@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 16px;
  background-color: #f6f8f8;
}

.align_center {
  display: flex;
  align-items: center;
}

a {
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
